body{
    background-image: linear-gradient(to right,#47C1AA, yellow);
    box-sizing: border-box;
    
  }
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 800px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
  }
  .container img {
    margin-bottom:50px ;
  }
  
  .container form input{
    display: block;
    width: 300px;
    height: 50px;
    margin: 15px auto;
    padding-left: 10px;
    font-size: large;
    border-radius: 10px;
    outline: none;
    border: 1px solid ;
    
  
  }
  .container form input:nth-child(3){
    background-image: linear-gradient(to right,#47C1AA, yellow);
    border:none
  }
  .options{
    margin-top: 50px;
  }
  
.social{
  margin:10px;
  width: 80%;
  height: 60px;
  color: white;
  border-radius: 60px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left:40px ;
  font-size: x-large;
}
.facebook{
  background-color: #4267B2;
}
.twitter{
  background-color:#1DA1F2;
}
.yazi{
  color: rgb(209, 188, 188);
  width: auto;
  margin: 0 auto;
  text-transform: capitalize;
  font-weight: bold;
}
.options a {
  text-decoration: none;
}